export(fv1_2)
export(fv1_3)
export(fv1_4)
export(fv2_1)
export(fv2_2)
export(fv2_3)
export(fv2_4)
export(qADXStatus)
export(qATR)
export(qCalcReturn)
export(qChannelPosition)
export(qCheckTSforValidity)
export(qC2SMAStatus)
export(qCurrentRetPercentile)
export(qCurrentRetStatus)
export(qDSMAStatus)
export(qFindOpportunity)
export(qSMAPosStatus)